h1{
    color: white;
    font-size: 2rem;
    margin-top: 0.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

input{
    height: 1.5rem;
    width: 70%;
}

#root > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}