.header__website {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  border-bottom: 1px solid #818181;
}

.header__website strong {
  font-size: 2rem;
}

.header__website nav ul li {
  list-style: none;
}
